{# app/Resources/views/job/job.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    PROCOST - Job
{% endblock %}

{% block job %}
    <li class="sub-menu">
        <a class="active" href="{{ path('job') }}">
            <i class="fa fa-book"></i>
            <span>Les métiers</span>
        </a>
    </li>
{% endblock %}

{% block body %}
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i> Gestion des métiers</h3>
        <a class="btn btn-success btn-sm pull-right" href="{{ path('job_new') }}">Ajouter un métier</a>


        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 main-chart">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">Dénomination</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% if jobs is defined %}
                            {% for job in jobs %}
                                <tr>
                                    <th class="text-center">{{ job.name }}</th>
                                    <th class="text-center">
                                        <a href="{{ path('job_edit', {'id' : job.id}) }}" class="btn btn-primary btn-xs">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href="{{ path('job_delete', {'id' : job.id}) }}" class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </th>
                                </tr>
                            {% endfor %}
                        {% endif %}

                    </tbody>
                </table>
            </div>

            <div class="col-sm-12">
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('confirmation') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            <div class="col-sm-6 col-md-offset-5">
                <div class="pagination">
                    <div class="text-center">{{ knp_pagination_render(jobs) }}</div>
                </div>
            </div>
        </div>
        <!--/row -->
    </section>
{% endblock %}