{% extends 'base.html.twig' %}

{% block title %}
    PROCOST - Edit job
{% endblock %}

{% block job %}
    <li class="sub-menu">
        <a class="active" href="{{ path('job') }}">
            <i class="fa fa-book"></i>
            <span>Les métiers</span>
        </a>
    </li>
{% endblock %}

{% block body %}
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i> Edition d'un métier</h3>

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="form-panel">

                        <form action=" {{ path('job_edit') }}" method="POST" >

                            {{ form_row(form._token) }}

                            <div class="form-group">

                                <div class="row-fluid">

                                    <div class="col-sm-2 control-label" style="margin-top: 8px">
                                        {{ form_errors(form.name) }}
                                        {{ form_label(form.name) }}
                                    </div>

                                    <div class="col-sm-10">
                                        {{ form_widget(form.name, { 'attr' : { 'class' : 'form-control', 'placeholder' : "lala" }}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <input type="submit" class="btn btn-info" style="margin-top: 15px; margin-left: 15px"/>
                            </div>

                        </form>

                        <!--<form class="form-horizontal style-form">
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Dénomination : </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <button type="button" class="btn btn-sm btn-success">Enregistrer</button>
                        </form>-->
                    </div>
                </div>
            </div>
        </div>
        <!--/row -->
    </section>
{% endblock %}