{% extends 'base.html.twig' %}

{% block title %}
    PROCOST - Employés
{% endblock %}

{% block employee %}
    <li class="sub-menu">
        <a class="active" href="{{ path('employee') }}">
            <i class="fa fa-users"></i>
            <span>Les employés</span>
        </a>
    </li>
{% endblock %}

{% block body %}
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i> Gestion des employés</h3>
        <a class="btn btn-success btn-sm pull-right" href="{{ path('employee_new') }}">Ajouter un employé</a>

        <div class="row">
            <div class="col-lg-12 main-chart">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Dénomination</th>
                        <th>Email</th>
                        <th>Métier</th>
                        <th>Coût (jour)</th>
                        <th>Embauche</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if employees is defined %}
                            {% for employee in employees %}
                                <tr>
                                    <th>{{ employee.name ~ " " ~ employee.surname }}</th>
                                    <th>{{ employee.mail }}</th>
                                    <th>{{ employee.job.name }}</th>
                                    <th>{{ employee.cost }}</th>
                                    <th>{{ employee.date |date('d/m/Y') }}</th>
                                    <th>
                                        <a href="#" class="btn btn-success btn-xs">
                                            <i class="fa fa-clock-o"></i>
                                        </a>
                                        <a href="{{ path('employee_edit', {'id' : employee.id}) }}" class="btn btn-primary btn-xs">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href="{{ path('employee_delete', {'id' : employee.id}) }}" class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </th>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 col-sm-2 col-md-offset-5">
                <div class="pagination">
                    <a href="#">
                        <span class="badge bg-default">
                            <i class="fa fa-chevron-left"></i>
                        </span>
                    </a>
                    <a href="#"><span class="badge bg-theme">1</span></a>
                    <a href="#"><span class="badge bg-default">2</span></a>
                    <a href="#"><span class="badge bg-default">3</span></a>
                    <a href="#"><span class="badge bg-default">4</span></a>
                    <a href="#"><span class="badge bg-default">5</span></a>
                    <a href="#">
                        <span class="badge bg-default">
                            <i class="fa fa-chevron-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--/row -->
    </section>
{% endblock %}