{% extends 'base.html.twig' %}

{% block title %}
    PROCOST - Details d'un employé
{% endblock %}

{% block employee %}
    <li class="sub-menu">
        <a class="active" href="{{ path('employee') }}">
            <i class="fa fa-users"></i>
            <span>Les employés</span>
        </a>
    </li>
{% endblock %}

{% block body %}
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i> Suivi de {{ employee.name }} {{ employee.surname }}"</h3>

        <div class="row">
            <div class="col-lg-5">
                <div class="row">
                    <div class="form-panel">
                        <table class="table table-bordered table-striped table-condensed">
                            <tbody>
                                {% if employee is defined %}
                                    <tr>
                                        <th>Prénom</th>
                                        <td>{{ employee.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nom</th>
                                        <td>{{ employee.surname }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ employee.mail }}</td>
                                    </tr>
                                    <tr>
                                        <th>Métier</th>
                                        <td>{{ employee.job.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Coût (jour)</th>
                                        <td>{{ employee.cost }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date d'embauche</th>
                                        <td>{{ employee.date |date('d/m/Y') }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <a class="btn btn-success btn-sm" href="#">Modifier</a>
                        <a class="btn btn-danger btn-sm" href="#">Archiver</a>
                    </div>
                </div>
                <div class="row">
                    <div class="form-panel">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-7 main-chart">
                <h4>Historique des temps de production :</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Projet</th>
                            <th>Temps</th>
                            <th>Date de saisie</th>
                            <th>Coût total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if detailList is defined %}
                            {% for detail in detailList %}
                                <tr>
                                    <th>
                                        <a href="#">{{ detail.project.name }}</a>
                                    </th>
                                    <th>
                                        {% if detail.duration == 1 %}
                                            1 jour
                                        {% else %}
                                            {{ detail.duration }} jours
                                        {% endif %}
                                    </th>
                                    <th>
                                        {{ detail.date | date('d/m/Y') }}
                                    </th>
                                    <th>
                                        {{ detail.employee.cost|number_format * detail.duration|number_format }} €
                                    </th>
                                    <th>
                                        <a href="#" class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </th>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        <!--
                        <tr>
                            <th><a href="#">Nom du projet</a></th>
                            <th>4 j</th>
                            <th>23/03/2018</th>
                            <th>1 200 €</th>
                            <th>
                                <a href="#" class="btn btn-danger btn-xs">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </th>
                        </tr>-->
                    </tbody>
                </table>
                <div class="col-md-3 col-sm-3 col-md-offset-4">
                    <div class="pagination">
                        <a href="#">
                            <span class="badge bg-default">
                                <i class="fa fa-chevron-left"></i>
                            </span>
                        </a>
                        <a href="#"><span class="badge bg-theme">1</span></a>
                        <a href="#"><span class="badge bg-default">2</span></a>
                        <a href="#"><span class="badge bg-default">3</span></a>
                        <a href="#"><span class="badge bg-default">4</span></a>
                        <a href="#"><span class="badge bg-default">5</span></a>
                        <a href="#">
                            <span class="badge bg-default">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}