{% extends 'base.html.twig' %}

{% block title %}
    PROCOST - Details d'un employé
{% endblock %}

{% block employee %}
    <li class="sub-menu">
        <a class="active" href="{{ path('employee') }}">
            <i class="fa fa-users"></i>
            <span>Les employés</span>
        </a>
    </li>
{% endblock %}

{% block body %}
    <section class="wrapper">

    {% if employee.active %}
        <h3><i class="fa fa-angle-right"></i> Suivi de {{ employee.name }} {{ employee.surname }}</h3>
    {% else %}
        <h3><i class="fa fa-angle-right"></i> Suivi de <strike>{{ employee.name }} {{ employee.surname }}</strike></h3>
    {% endif %}

        <div class="row">
            <div class="col-lg-5">
                <div class="row">
                    <div class="form-panel">
                        <table class="table table-bordered table-striped table-condensed">
                            <tbody>
                                {% if employee is defined %}
                                    {% if employee.active %}
                                        <tr>
                                            <th>Prénom</th>
                                            <td>{{ employee.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Nom</th>
                                            <td>{{ employee.surname }}</td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td>{{ employee.mail }}</td>
                                        </tr>
                                        <tr>
                                            <th>Métier</th>
                                            <td>{{ employee.job.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Coût (jour)</th>
                                            <td>{{ employee.cost }}</td>
                                        </tr>
                                        <tr>
                                            <th>Date d'embauche</th>
                                            <td>{{ employee.date |date('d/m/Y') }}</td>
                                        </tr>
                                    {% else %}

                                        <tr>
                                            <th>Prénom</th>
                                            <td><strike>{{ employee.name }}</strike></td>
                                        </tr>
                                        <tr>
                                            <th>Nom</th>
                                            <td><strike>{{ employee.surname }}</strike></td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td><strike>{{ employee.mail }}</strike></td>
                                        </tr>
                                        <tr>
                                            <th>Métier</th>
                                            <td><strike>{{ employee.job.name }}</strike></td>
                                        </tr>
                                        <tr>
                                            <th>Coût (jour)</th>
                                            <td><strike>{{ employee.cost }}</strike></td>
                                        </tr>
                                        <tr>
                                            <th>Date d'embauche</th>
                                            <td><strike>{{ employee.date |date('d/m/Y') }}</strike></td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            </tbody>
                        </table>
                        <a class="btn btn-success btn-sm" href="{{ path('employee_edit', {'id' : employee.id}) }}">Modifier</a>
                        {% if employee.active %}
                            <a class="btn btn-danger btn-sm" href="{{ path('employee_detail_desactivate', {'id' : employee.id}) }}">Archiver</a>
                        {% else %}
                            <a class="btn btn-primary btn-sm" href="{{ path('employee_detail_activate', {'id' : employee.id}) }}">Activer</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-panel">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-7 main-chart">
                <h4>Historique des temps de production :</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Projet</th>
                            <th>Temps</th>
                            <th>Date de saisie</th>
                            <th>Coût total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if detailList is defined %}
                            {% for detail in detailList %}
                                <tr>
                                    <th>
                                        <a href="{{ path('project') }}">{{ detail.project.name }}</a>
                                    </th>
                                    <th>
                                        {% if detail.duration == 1 %}
                                            1 jour
                                        {% else %}
                                            {{ detail.duration }} jours
                                        {% endif %}
                                    </th>
                                    <th>
                                        {{ detail.date | date('d/m/Y') }}
                                    </th>
                                    <th>
                                        {{ detail.employee.cost|number_format * detail.duration|number_format }} €
                                    </th>
                                    <th>
                                        <a href="{{ path('detail_employee_delete', {'id' : employee.id , 'idDetail' : detail.id}) }}" class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </th>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="col-sm-6 col-md-offset-3">
                    <div class="pagination">
                        <div class="text-center">{{ knp_pagination_render(detailList) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}