{# app/Resources/views/employee/employee_detail.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    PROCOST - Details d'un employé
{% endblock %}

{% block employee %}
    <li class="sub-menu">
        <a class="active" href="{{ path('employee') }}">
            <i class="fa fa-users"></i>
            <span>Les employés</span>
        </a>
    </li>
{% endblock %}

{% block body %}
    <section class="wrapper">

        {% if employee.active %}
            <h3><i class="fa fa-angle-right"></i> Suivi de {{ employee.name }} {{ employee.surname }}</h3>
        {% else %}
            <h3><i class="fa fa-angle-right"></i> Suivi de <strike>{{ employee.name }} {{ employee.surname }}</strike></h3>
        {% endif %}

        <div class="row">
            <div class="col-lg-5">
                <div class="row">
                    <div class="form-panel">

                        <table class="table table-bordered table-striped table-condensed">
                            <tbody>
                                {% if employee is defined %}
                                    {% if employee.active %}
                                        <tr>
                                            <th class="text-center">Photo</th>
                                            <td class="text-center"><img src="{{ employee.url }}" class="img-rounded" width="200"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Prénom</th>
                                            <td class="text-center">{{ employee.name }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Nom</th>
                                            <td class="text-center">{{ employee.surname }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Email</th>
                                            <td class="text-center">{{ employee.mail }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Métier</th>
                                            <td class="text-center">{{ employee.job.name }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Coût (jour)</th>
                                            <td class="text-center">{{ employee.cost }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Date d'embauche</th>
                                            <td class="text-center">{{ employee.date |date('d/m/Y') }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <th class="text-center">Photo</th>
                                            <td class="text-center"><img src="{{ employee.url }}" class="img-rounded" width="200"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Prénom</th>
                                            <td class="text-center"><strike>{{ employee.name }}</strike></td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Nom</th>
                                            <td class="text-center"><strike>{{ employee.surname }}</strike></td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Email</th>
                                            <td class="text-center"><strike>{{ employee.mail }}</strike></td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Métier</th>
                                            <td class="text-center"><strike>{{ employee.job.name }}</strike></td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Coût (jour)</th>
                                            <td class="text-center"><strike>{{ employee.cost }}</strike></td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Date d'embauche</th>
                                            <td class="text-center"><strike>{{ employee.date |date('d/m/Y') }}</strike></td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            </tbody>
                        </table>
                        {% if employee is defined %}
                            {% if employee.active %}
                                <a class="btn btn-success btn-sm" href="{{ path('employee_detail_edit', {'id' : employee.id}) }}">Modifier</a>
                                <a class="btn btn-danger btn-sm" href="{{ path('employee_detail_desactivate', {'id' : employee.id}) }}">Archiver</a>
                            {% else %}
                                <a class="btn btn-primary btn-sm" href="{{ path('employee_detail_activate', {'id' : employee.id}) }}">Activer</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                {% if employee is defined %}
                    {% if employee.active %}
                        <div class="row">
                            <div class="form-panel">
                                {{ form(form) }}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

            </div>
            <div class="col-lg-7 main-chart">
                <h4>Historique des temps de production :</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">Projet</th>
                            <th class="text-center">Temps</th>
                            <th class="text-center">Date de saisie</th>
                            <th class="text-center">Coût total</th>
                            {% if employee is defined %}
                                {% if employee.active %}
                                    <th class="text-center">Actions</th>
                                {% endif %}
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>

                        {% if detailList is defined %}
                            {% for detail in detailList %}
                                <tr>
                                    <th class="text-center">
                                        <a href="{{ path('project_detail', {'id' : detail.project.id}) }}">{{ detail.project.name }}</a>
                                    </th>
                                    <th class="text-center">
                                        {% if detail.duration == 1 %}
                                            1 jour
                                        {% else %}
                                            {{ detail.duration }} jours
                                        {% endif %}
                                    </th>
                                    <th class="text-center">
                                        {{ detail.date | date('d/m/Y') }}
                                    </th>
                                    <th class="text-center">
                                        {{ detail.employee.cost|number_format * detail.duration|number_format }} €
                                    </th>
                                    {% if employee is defined %}
                                        {% if employee.active %}
                                            <th class="text-center">
                                                <a href="{{ path('detail_employee_delete', {'id' : employee.id , 'idDetail' : detail.id}) }}" class="btn btn-danger btn-xs">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </th>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="col-sm-6 col-md-offset-3">
                    <div class="pagination">
                        <div class="text-center">{{ knp_pagination_render(detailList) }}</div>
                    </div>
                </div>

                <div class="col-sm-12">
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('confirmation') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}