{% extends 'base.html.twig' %}

{% block title %}
    PROCOST - Project
{% endblock %}

{% block project %}
    <li class="sub-menu">
        <a class="active" href="{{ path('project') }}">
            <i class="fa fa-desktop"></i>
            <span>Les projets</span>
        </a>
    </li>
{% endblock %}

{% block body %}
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i> Gestion des projets</h3>
        <a class="btn btn-success btn-sm pull-right" href="{{ path('project_new') }}">Ajouter un projet</a>

        <div class="row">
            <div class="col-lg-12 main-chart">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Intitulé</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Date de création</th>
                        <th>Livré</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if projects is defined %}
                        {% for project in projects %}
                            <tr>
                                <th>
                                    {{ project.name }}
                                </th>
                                <th>
                                    {{ project.description }}
                                </th>
                                <th>
                                    {{ project.type }}
                                </th>
                                <th>
                                    {{ project.date | date('d/m/Y') }}
                                </th>
                                <th>
                                    {% if project.send %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </th>

                                <th>
                                    <a href="{{ path('project_detail', {'id' : project.id}) }}" class="btn btn-success btn-xs">
                                        <i class="fa fa-clock-o"></i>
                                    </a>

                                    {% if project.send %}
                                        <a href="{{ path('project_send', {'id' : project.id}) }}" class="btn btn-default btn-xs">
                                            <i class="fa fa-arrow-down"></i>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('project_edit', {'id' : project.id}) }}" class="btn btn-primary btn-xs">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href="{{ path('project_send', {'id' : project.id}) }}" class="btn btn-default btn-xs">
                                            <i class="fa fa-arrow-up"></i>
                                        </a>
                                        <a href="{{ path('project_delete', {'id' : project.id}) }}" class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    {% endif %}
                                </th>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 col-md-offset-5">
                <div class="pagination">
                    <div class="text-center">{{ knp_pagination_render(projects) }}</div>
                </div>
            </div>
        </div>
        <!--/row -->
    </section>
{% endblock %}