{# app/Resources/views/dashboard/dashboard.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    PROCOST - Projects costs calculation with Symfony
{% endblock %}

{% block dashboard %}
    <li class="mt">
        <a class="active" href="{{ path('dashboard') }}">
            <i class="fa fa-dashboard"></i>
            <span>Tableau de bord</span>
        </a>
    </li>
{% endblock %}

{% block body %}
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-9 main-chart">

                <div class="row mtbox">
                    <div class="col-md-2 col-sm-2 col-md-offset-2 box0">
                        {% if totalProjects is defined %}
                            <div class="box1">
                                <span class="li_stack"></span>
                                <h3>
                                    {{ totalProjects }}
                                </h3>
                            </div>
                            <p>{{ totalProjects }} projets en réalisation</p>
                        {% endif %}
                    </div>
                    <div class="col-md-2 col-sm-2 box0">
                        {% if totalSend is defined %}
                            <div class="box1">
                                <span class="li_cloud"></span>
                                <h3>
                                    {{ totalSend }}
                                </h3>
                            </div>
                            <p>{{ totalSend }} projets livrés</p>
                        {% endif %}
                    </div>
                    <div class="col-md-2 col-sm-2 box0">
                        {% if totalEmployees is defined %}
                            <div class="box1">
                                <span class="li_user"></span>
                                <h3>
                                    {{ totalEmployees }}
                                </h3>
                            </div>
                            <p>{{ totalEmployees }} employés enregistrés</p>
                        {% endif %}
                    </div>
                    <div class="col-md-2 col-sm-2 box0">
                        {% if duration is defined %}
                            <div class="box1">
                                <span class="li_heart"></span>
                                <h3>{{ duration }}</h3>
                            </div>
                            <p>{{ duration }} jours de production</p>
                        {% endif %}
                    </div>
                </div>
                <!-- /row mt -->

                <div class="row mt">
                    <div class="col-md-4 col-sm-4 mb">
                        <div class="white-panel pn donut-chart">
                            <div class="white-header">
                                <h5>RENTABILITE</h5>
                            </div>
                            {% if percentCapex is defined %}
                                {% if percentOpex is defined %}
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-6 goleft">
                                            <p>
                                                <i class="fa fa-database"></i> {{ percentCapex }}% CAPEX</p>
                                        </div>
                                    </div>
                                    <canvas id="ratio" height="120" width="120"></canvas>
                                    <script>
                                        var doughnutData = [{ value: {{ percentCapex }}, color: "#68dff0" }, { value: {{ percentOpex }}, color: "#fdfdfd" }];
                                        var myDoughnut = new Chart(document.getElementById("ratio").getContext("2d")).Doughnut(doughnutData);
                                    </script>
                                {% endif %}
                            {% endif %}
                        </div>
                        <!--/grey-panel -->
                    </div>

                    <div class="col-md-4 col-sm-4 mb">
                        <div class="white-panel pn donut-chart">
                            <div class="white-header">
                                <h5>TAUX DE LIVRAISON</h5>
                            </div>
                            {% if percentSend is defined %}
                                {% if percentNotSend is defined %}
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-6 goleft">
                                            <p>
                                                <i class="fa fa-cloud"></i> {{ percentSend }}% LIVRES</p>
                                        </div>
                                    </div>
                                    <canvas id="ratio2" height="120" width="120"></canvas>
                                    <script>
                                        var doughnutData = [{ value: {{ percentSend }}, color: "#68dff0" }, { value: {{ percentNotSend }}, color: "#fdfdfd" }];
                                        var myDoughnut = new Chart(document.getElementById("ratio2").getContext("2d")).Doughnut(doughnutData);
                                    </script>
                                {% endif %}
                            {% endif %}
                        </div>
                        <!--/grey-panel -->
                    </div>

                    <div class="col-md-4 mb">
                        <!-- WHITE PANEL - TOP USER -->
                        <div class="white-panel pn">
                            <div class="white-header">
                                <h5>TOP EMPLOYE</h5>
                            </div>
                            {% if topEmployee is defined %}

                                <p>{#https://randomuser.me/api/portraits/women/xx.jpg#}
                                    <img src="{{ topEmployee.url }}" class="img-circle" width="100">
                                </p>
                                <p>
                                    <a href="{{ path('employee_detail', {'id' : topEmployee.id }) }}"><b>{{ topEmployee.name }} {{ topEmployee.surname }}</b></a>
                                </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="small mt">EMPLOYE DEPUIS</p>
                                        <p>{{ topEmployee.getDate | date('d/m/Y') }}</p>
                                    </div>
                                    {% if topCostEmployee is defined %}
                                        <div class="col-md-6">
                                            <p class="small mt">TOTAL DEPENSE</p>
                                            <p>{{ topCostEmployee }} €</p>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- /col-md-4 -->

                </div>
                <!-- /row -->

                <div class="row">
                    <div class="col-lg-12 main-chart">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                            <tr>
                                <th class="text-center">Projet</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Coût</th>
                                <th class="text-center">Livré ?</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% if lastProjects is defined %}
                                    {%  for project in lastProjects %}
                                        <tr>
                                            <th class="text-center">
                                                <a href="{{ path('project_detail', {'id' : project.id}) }}">{{ project.name }}</a>
                                            </th>
                                            <th class="text-center">{{ project.type }}</th>
                                            <th class="text-center">{{ project.date | date('d/m/Y') }}</th>
                                            <th class="text-center">{{ project.cost }} €</th>
                                            <th class="text-center">
                                                {% if project.send %}
                                                    <span class="label label-success label-mini">OUI</span>
                                                {% else %}
                                                    <span class="label label-danger label-mini">NON</span>
                                                {% endif %}
                                            </th>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /col-lg-9 END SECTION MIDDLE -->

            <!-- ***********************************************************************************************************************************************
            RIGHT SIDEBAR CONTENT
            ************************************************************************************************************************************************ -->
            {% if lastDetails is defined %}

                <div class="col-lg-3 ds">
                    <h3>TEMPS DE PRODUCTION</h3>

                    {% for detail in lastDetails %}
                        <div class="desc">
                            <div class="thumb">
                                <span class="badge bg-theme">
                                    <i class="fa fa-clock-o"></i>
                                </span>
                            </div>
                            <div class="details">
                                <p>
                                    <a href="{{ path('employee_detail', {'id' : detail.employee.id }) }}">{{ detail.employee.name }} {{ detail.employee.surname }}</a> a travaillé sur <a href="{{ path('project_detail', {'id' : detail.project.id }) }}">{{ detail.project.name }}</a>
                                    <br/>
                                    {% if detail.duration == 1 %}
                                        durant 1 jour
                                    {% else %}
                                        durant {{ detail.duration }} jours
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- /col-lg-3 -->
        </div>
        <!--/row -->
    </section>
{% endblock %}
